[Desktop Entry]
Encoding=UTF-8
Name=CryptoDex
Comment=CryptoDex P2P Cryptocurrency
Comment[fr]=CryptoDex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CryptoDex, eşten eşe kriptografik sanal para birimi
Exec=cryptodex-qt %u
Terminal=false
Type=Application
Icon=cryptodex128
MimeType=x-scheme-handler/cryptodex;
Categories=Office;Finance;
