[Desktop Entry]
Encoding=UTF-8
Name=CryptoDEX
Comment=CryptoDEX P2P Cryptocurrency
Comment[fr]=CryptoDEX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CryptoDEX, eşten eşe kriptografik sanal para birimi
Exec=cryptodex-qt %u
Terminal=false
Type=Application
Icon=cryptodex128
MimeType=x-scheme-handler/cryptodex;
Categories=Office;Finance;
