[Unit]
Description=CryptoDex's distributed currency daemon
After=network.target

[Service]
User=cryptodexcore
Group=cryptodexcore

Type=forking
PIDFile=/var/lib/cryptodexd/cryptodexd.pid
ExecStart=/usr/bin/cryptodexd -daemon -pid=/var/lib/cryptodexd/cryptodexd.pid \
-conf=/etc/cryptodexcore/cryptodex.conf -datadir=/var/lib/cryptodexd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
